.vscode/
__pycache__/
headsegmentation_dataset_ccncsa/
changelog.txt
.DS_Store
debug.py
cvcs/
bash.sh
venv/
.idea/
*.bat
models/demo/Deeplabv3/checkpoint.pt
models/weights/deeplabv3_ccncsa_demo.pth
test.py
